---
http_interactions:
- request:
    method: get
    uri: https://api.majestic.com/api/json?app_api_key=API_KEY&cmd=GetIndexItemInfo&datasource=historic&item0=google.com&item1=yahoo.com&items=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Code":"OK","ErrorMessage":"","FullError":"","FirstBackLinkDate":"2015-03-26","IndexBuildDate":"2020-11-12
        12:40:05","IndexType":0,"MostRecentBackLinkDate":"2020-10-25","QueriedRootDomains":2,"QueriedSubDomains":0,"QueriedURLs":0,"QueriedURLsMayExist":0,"ServerBuild":"2020-10-30
        19:10:54","ServerName":"KNUTSCHR","ServerVersion":"1.0.7608.34527","UniqueIndexID":"20201112124005-HISTORICAL","DataTables":{"Results":{"Headers":{},"Data":[{"ItemNum":0,"Item":"google.com","ResultCode":"OK","Status":"Found","ExtBackLinks":338168260414,"RefDomains":59364262,"AnalysisResUnitsCost":338168260414,"ACRank":-1,"ItemType":1,"IndexedURLs":31890390648,"GetTopBackLinksAnalysisResUnitsCost":5000,"DownloadBacklinksAnalysisResUnitsCost":370058651062,"DownloadRefDomainBacklinksAnalysisResUnitsCost":1187335240,"RefIPs":6291489,"RefSubNets":749681,"RefDomainsEDU":116318,"ExtBackLinksEDU":2733998346,"RefDomainsGOV":53787,"ExtBackLinksGOV":1219484146,"RefDomainsEDU_Exact":7506,"ExtBackLinksEDU_Exact":585449265,"RefDomainsGOV_Exact":5303,"ExtBackLinksGOV_Exact":311614774,"CrawledFlag":"False","LastCrawlDate":"","LastCrawlResult":"","RedirectFlag":"True","FinalRedirectResult":"","OutDomainsExternal":"0","OutLinksExternal":"0","OutLinksInternal":"0","OutLinksPages":"1772670239","LastSeen":"","AffectedByAntiSpamAlgo":0,"Title":"Google","RedirectTo":"https://www.google.com/","Language":"en,de","LanguageDesc":"English,German","LanguageConfidence":"91,55","LanguagePageRatios":"60.6,4.1","LanguageTotalPages":453179607,"RefLanguage":"en,es,fr,de","RefLanguageDesc":"English,Spanish/Castilian,French,German","RefLanguageConfidence":"94,72,72,75","RefLanguagePageRatios":"54.3,1.4,1.2,0.7","RefLanguageTotalPages":221977753930,"CrawledURLs":2851430625,"RootDomainIPAddress":"184.168.131.241","TotalNonUniqueLinks":"369884579675","NonUniqueLinkTypeHomepages":"728799922","NonUniqueLinkTypeIndirect":"5812630101","NonUniqueLinkTypeDeleted":"150840268959","NonUniqueLinkTypeNoFollow":"47455726843","NonUniqueLinkTypeProtocolHTTPS":"130100724239","NonUniqueLinkTypeFrame":"19289694813","NonUniqueLinkTypeImageLink":"84772551954","NonUniqueLinkTypeRedirect":"3175874916","NonUniqueLinkTypeTextLink":"262646457992","RefDomainTypeLive":"34136353","RefDomainTypeFollow":"56347541","RefDomainTypeHomepageLink":"27500569","RefDomainTypeDirect":"58683307","RefDomainTypeProtocolHTTPS":"21899625","CanonicalURL":"","CitationFlow":95,"TrustFlow":99,"TrustMetric":99,"TopicalTrustFlow_Topic_0":"Computers/Internet/Searching","TopicalTrustFlow_Value_0":95,"TopicalTrustFlow_Topic_1":"Computers/Internet/On
        the Web","TopicalTrustFlow_Value_1":92,"TopicalTrustFlow_Topic_2":"Computers/Software","TopicalTrustFlow_Value_2":90},{"ItemNum":1,"Item":"yahoo.com","ResultCode":"OK","Status":"Found","ExtBackLinks":18146504951,"RefDomains":5882069,"AnalysisResUnitsCost":18146504951,"ACRank":-1,"ItemType":1,"IndexedURLs":2082207848,"GetTopBackLinksAnalysisResUnitsCost":5000,"DownloadBacklinksAnalysisResUnitsCost":20228712799,"DownloadRefDomainBacklinksAnalysisResUnitsCost":117691380,"RefIPs":1629001,"RefSubNets":363701,"RefDomainsEDU":28456,"ExtBackLinksEDU":113652885,"RefDomainsGOV":10534,"ExtBackLinksGOV":72217629,"RefDo[...]
